# ignore these files
*.~
*.swp
node_modules/
test/
mycha.coffee
mycha.js
*.map
npm-debug.log
.DS_Store
*.js

!bundle.js
!webpack.config.js
!webpack.dev.config.js
!webpack.prod.config.js
!webpack.staging.config.js
!dev.js
!preprocessor.js
!mycha.js
!./js/
