// Remember to build this file into CSS


body
  background-color: #122D34
  margin: 0
  font-family: ClearSans

.pointer
  cursor: pointer

.title-column
  max-width: 700px
  min-width: 320px
  font-weight: bold
  text-align: center
  font-size: 95px
  color: #D1857F
  margin-bottom: 0px
  margin-top: 0px

.center-column
  max-width: 500px
  min-width: 320px
  display: block
  margin-left: auto
  margin-right: auto

  .running-sum
    min-height: 40px
    color: #EFE8BE
    text-align: center
    font-size: 30px

  .game-desc-hr
    margin: 40px 0px 20px 0px

  #how-to-play
    margin: 10px auto 10px auto
    width: 95%
    color: #729199
    font-size: 20px

@font-face
  font-family: ClearSans
  src: url(../fonts/ClearSans-Regular.ttf)

@font-face
  font-family: ClearSans
  src: url(../fonts/ClearSans-Bold.ttf)
  font-weight: bold

#goals
  width: 80%
  margin: 0 auto
  display: table
  width: 100%
  table-layout: fixed
  margin-bottom: 20px

  .goal-span
    display: table-cell
    text-align: center
    color: #EFE8BE
    font-size: 80px
    margin: 0 10px 10px 10px

.game-button-wrapper
  text-align: center
  margin: 10px 0px 20px 0px

  .game-btn
    height: auto
    display: inline-block
    width: 40%
    margin: 0px 10px
    background-color: Transparent
    border-style: solid
    border-color: #a7acb0
    border-radius: 10px
    font-size: 30px
    color: #D1857F
    margin: 0px 0px 5px 0px

    &:active
      background-color: #EFE8BE


$field-width: 500px
$grid-spacing: 15px
$grid-row-cells: 5
$tile-size: ($field-width - $grid-spacing * ($grid-row-cells + 1)) / $grid-row-cells
$tile-border-radius: 3px

$mobile-threshold: $field-width + 20px

$text-color: #776E65
$bright-text-color: #f9f6f2

$tile-color: #eee4da
$tile-gold-color: #edc22e

$game-container-margin-top: 40px
$game-container-background: #bbada0

$transition-speed: 100ms

.game-container
  margin-top: $game-container-margin-top
  position: relative
  padding: $grid-spacing

  cursor: default
  -webkit-touch-callout: none
  -ms-touch-callout: none

  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none

  -ms-touch-action: none
  touch-action: none

  background: $game-container-background
  // border-radius: $tile-border-radius * 2
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

  .grid-container
    position: absolute
    z-index: 1

    .grid-row
      margin-bottom: $grid-spacing

      &:last-child
        margin-bottom: 0

      &:after
        content: ""
        display: block
        clear: both

      .grid-cell
        margin-right: $grid-spacing
        float: left

        // border-radius: $tile-border-radius

        background: rgba($tile-color, .35)

        &:last-child
          margin-right: 0

.cell-container
  position: absolute
  z-index: 2

  .cell-row
    margin-bottom: $grid-spacing

    &:last-child
      margin-bottom: 0

    &:after
      content: ""
      display: block
      clear: both

    .cell
      // padding: calc(#{$grid-spacing} + 5px)
      margin-right: $grid-spacing
      float: left
      text-align: center
      vertical-align: middle
      font-family: ClearSans
      font-size: 90px

      -webkit-transition: -webkit-transform 0.4s ease
      -moz-transition: -webkit-transform 0.4s ease
      transition: -webkit-transform 0.4s ease

//       animation: move 3s ease infinite

// @keyframes move
//   50%
//     transform: translate(0, 100px)
