.game-background {
  background: linear-gradient(#B9B9B9,#E5E5E5);
  /*background: linear-gradient(#000033,#000040);*/
}

.title-image {
  display: block;
  margin: auto;
  padding-top: 35px;
}

.button-background {
  background-color: Transparent;
  border-style: solid;
  border-color: darkgray;
  border-radius: 100px;
}

.left-column {
  float: left;
  margin-left: 25%;
}

.right-column {
  float: right;
  margin-right: 30%;
}

.center-column {
  width: 480px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.test {
  background-color: black;
}

.test2 {
  background-color: yellow;
}

.title-spacing {
  margin-bottom: 60px;
}

.goals {
  color: #00007f;
  text-align: center;
  margin-bottom: 20px;
}

.reset {
  margin-bottom: 20px;
}

#game {
  width: inherit;
  height: inherit;
}
