body {
  background-color: #122D34;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.title-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
  padding-top: 35px;
  padding-left: 15px;
}

.button-background {
  background-color: Transparent;
  border-style: solid;
  border-color: #a7acb0;
  border-radius: 100px;
}

.button-background:focus {
  outline: none;
}

.center-column {
  max-width: 500px;
  min-width: 320px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.running-sum {
  height: 20px;
  color: #EFE8BE;
  text-align: center;
  font-family: VCROSD;
  font-size: 150%;
  margin-bottom: 10px;
}

@font-face {
    font-family: VCROSD;
    src: url(../fonts/VCR_OSD_MONO_1.001.ttf);
}

.title-column {
  max-width: 700px;
  min-width: 320px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

#goals {
  text-align: center;
  margin: 20px 0px;
}

.left-btn {
  float: left;
}

.right-btn {
  float: right;
}
