// Remember to build this file into CSS

body
  background-color: #122D34
  margin: 0
  font-family: ClearSans
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.pointer
  cursor: pointer

.title-column
  max-width: 700px
  min-width: 320px
  display: block
  margin: 3% auto 0 auto

  img
    max-width: 100%
    height: auto
    display: block
    margin: auto

.center-column
  max-width: 500px
  min-width: 320px
  display: block
  margin-left: auto
  margin-right: auto

  &.running-sum
    min-height: 30px
    color: #EFE8BE
    text-align: center
    font-size: 30px

  .how-to-play
    margin: 10px auto 10px auto
    width: 95%
    color: #729199
    font-size: 24px

@font-face
  font-family: ClearSans
  src: url(../fonts/ClearSans-Regular.ttf)

#goals
  width: 80%
  margin: 0 auto
  display: table
  width: 100%
  table-layout: fixed
  margin-bottom: 20px

  .goal-span
    display: table-cell
    text-align: center
    color: #EFE8BE
    font-size: 80px
    margin: 0 10px 10px 10px

.game-button-wrapper
  text-align: center
  margin: 10px 0px 20px 0px

  .game-btn
    height: auto
    display: inline-block
    width: 40%
    margin: 0px 10px
    background-color: Transparent
    border-style: solid
    border-color: #a7acb0
    border-radius: 10px

    &:active
      background-color: #EFE8BE

    img
      height: 40px
      width: 100%

.how-to-play
  margin-top: 50px
  color: #D1857F
  font-size: 20px
  font-family: monospace
