// Remember to build this file into CSS

body
  background-color: #122D34
  margin: 0
  font-family: ClearSans

.pointer
  cursor: pointer

.title-column
  max-width: 700px
  min-width: 320px
  display: block
  margin: 0 auto

  p
    font-weight: bold
    text-align: center
    font-size: 95px
    color: #D1857F
    margin-bottom: 0px
    margin-top: 0px

.center-column
  max-width: 500px
  min-width: 320px
  display: block
  margin-left: auto
  margin-right: auto

  &.running-sum
    min-height: 40px
    color: #EFE8BE
    text-align: center
    font-size: 30px

  .game-desc-hr
    margin: 10px 0px 20px 0px

  #how-to-play
    margin: 10px auto 10px auto
    width: 95%
    color: #729199
    font-size: 20px

@font-face
  font-family: ClearSans
  src: url(../fonts/ClearSans-Regular.ttf)

@font-face
  font-family: ClearSans
  src: url(../fonts/ClearSans-Bold.ttf)
  font-weight: bold

#goals
  width: 80%
  margin: 0 auto
  display: table
  width: 100%
  table-layout: fixed
  margin-bottom: 20px

  .goal-span
    display: table-cell
    text-align: center
    color: #EFE8BE
    font-size: 80px
    margin: 0 10px 10px 10px

.game-button-wrapper
  text-align: center
  margin: 10px 0px 20px 0px

  .game-btn
    height: 40px
    word-wrap: break-word
    display: inline-block
    width: 41%
    margin: 0 0 10px
    background-color: Transparent
    border-style: solid
    border-color: #a7acb0
    border-radius: 10px

    .button-text
      font-size: 30px
      color: #D1857F
      margin: 0px 0px 5px 0px

    &:active
      background-color: #EFE8BE
