body {
  background-color: #122D34;
  margin: 0;
  font-family: ClearSans; }

.pointer {
  cursor: pointer; }

.title-column {
  max-width: 700px;
  min-width: 320px;
  font-weight: bold;
  text-align: center;
  font-size: 95px;
  color: #D1857F;
  margin-bottom: 0px;
  margin-top: 0px; }

.center-column {
  max-width: 500px;
  min-width: 320px;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .center-column .running-sum {
    min-height: 40px;
    color: #EFE8BE;
    text-align: center;
    font-size: 30px; }
  .center-column .game-desc-hr {
    margin: 40px 0px 20px 0px; }
  .center-column #how-to-play {
    margin: 10px auto 10px auto;
    width: 95%;
    color: #729199;
    font-size: 20px; }

@font-face {
  font-family: ClearSans;
  src: url(../fonts/ClearSans-Regular.ttf); }
@font-face {
  font-family: ClearSans;
  src: url(../fonts/ClearSans-Bold.ttf);
  font-weight: bold; }
#goals {
  width: 80%;
  margin: 0 auto;
  display: table;
  width: 100%;
  table-layout: fixed;
  margin-bottom: 20px; }
  #goals .goal-span {
    display: table-cell;
    text-align: center;
    color: #EFE8BE;
    font-size: 80px;
    margin: 0 10px 10px 10px; }

.game-button-wrapper {
  text-align: center;
  margin: 10px 0px 20px 0px; }
  .game-button-wrapper .game-btn {
    height: auto;
    display: inline-block;
    width: 40%;
    margin: 0px 10px;
    background-color: Transparent;
    border-style: solid;
    border-color: #a7acb0;
    border-radius: 10px;
    font-size: 30px;
    color: #D1857F;
    margin: 0px 0px 5px 0px; }
    .game-button-wrapper .game-btn:active {
      background-color: #EFE8BE; }

.game-container {
  margin-top: 40px;
  position: relative;
  padding: 15px;
  cursor: default;
  -webkit-touch-callout: none;
  -ms-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  background: #bbada0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .game-container .grid-container {
    position: absolute;
    z-index: 1; }
    .game-container .grid-container .grid-row {
      margin-bottom: 15px; }
      .game-container .grid-container .grid-row:last-child {
        margin-bottom: 0; }
      .game-container .grid-container .grid-row:after {
        content: "";
        display: block;
        clear: both; }
      .game-container .grid-container .grid-row .grid-cell {
        margin-right: 15px;
        float: left;
        background: rgba(238, 228, 218, 0.35); }
        .game-container .grid-container .grid-row .grid-cell:last-child {
          margin-right: 0; }

.cell-container {
  position: absolute;
  z-index: 2; }
  .cell-container .cell-row {
    margin-bottom: 15px; }
    .cell-container .cell-row:last-child {
      margin-bottom: 0; }
    .cell-container .cell-row:after {
      content: "";
      display: block;
      clear: both; }
    .cell-container .cell-row .cell {
      margin-right: 15px;
      float: left;
      text-align: center;
      vertical-align: middle;
      font-family: ClearSans;
      font-size: 90px; }

/*# sourceMappingURL=GameBackground.css.map */
